<div class="row" data-action="intro">
    <div class="col-12 text-center">
        <h1>Webpack Starterkit with bootstrap!</h1>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-12">
                <img src="../assets/images/webpack.jpg" alt="">
            </div>
            <div class="col-md-6 col-12">
                <p>{{introText}}</p>
            </div>
        </div>
    </div>
</div>